* {
    margin: 0px;
    padding: 0px;
}
.container-header {
    height: 60px;
    background-color: rgb(147, 197, 255);
}
.header {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    align-items: center;
}
.header h1, .header .city {
    color: #fff;
}
.city {
    cursor: pointer;
}
.header h1 {
    margin-right: 200px;
}
.container-body {
    width: 800px;
    margin: 0 auto;
    display: flex;
}
.city-header {
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;
}
.col-1 {
    flex: 1;
}
.mar-10 {
    margin-right: 20px;
}
.weather-container {
    background-color: rgb(207, 207, 207);
    height: 300px;
    padding: 10px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.weather-container * {
    margin-bottom: 10px;
}
.weather-container img {
    border-radius: 100%;
    width: 100%;
}
.img-desc {
    margin-bottom: 30px;
}
.temps {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}
.temp-high {
    color: rgb(189, 39, 39);
}
.temp-low {
    color: rgb(39, 104, 189);
}
#cookie-box {
    border: 2px solid black;
    background-color: rgb(207, 207, 207);
    height: 100px;
    margin: 0 auto;
    bottom: 0;
    width: inherit;
    margin-bottom: 10px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#cookie-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.cookie-left {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
#btnaccept {
    padding: 5px 20px 5px 20px;
    background-color: rgb(142, 159, 255);
    box-shadow: 2px 2px black;
    width: 150px;
}
