* {
    margin: 0px;
    padding: 0px;
}
.nav-bar {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: azure;
    background-color: dimgray;
}
.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    padding: 5px;
}
.tabs-list {
    margin-left: 20px;
}
#sign-out {
    background-color: rgb(53, 86, 236);
    color: azure;
    width: 100px;
    margin: 0px 50px 0px 50px;
}
.content {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
    height: 1000px;
}
.profile {
    flex: 3;
    margin: 10px 10px 10px 50px;
    height: 100%;
    vertical-align: top;
}
.profile-info {
    border: 2px solid rgb(124, 124, 124);
    width: 100%;
    height: 300px;
}
.avatar-pic {
    border-radius: 50%;
    background-color: aliceblue;
    padding: 4px;
    margin: 30px 0px 0px 10px;
}
.avatar {
    background-color: rgb(53, 86, 236);
    height: 100px;
}
.avatar-info {
    margin-top: 65px;
    margin-left: 10px;
}
.education {
    border: 2px solid rgb(124, 124, 124);
    margin-top: 20px;
    width: 100%;
    height: 130px;
}
.education h2 {
    background-color: dimgray;
    padding-left: 5px;
}
.education-footer {
    padding: 5px;
}
.extras {
    align-content: center;
    flex: 1;
    margin: 10px 50px 10px 10px;
    height: 100%;
}
.connect-request {
    height: 200px;
    width: 100%;
    border: 2px solid rgb(124, 124, 124);
    margin-bottom: 20px;
}
.your-connections {
    height: 300px;
    width: 100%;
    border: 2px solid rgb(124, 124, 124);
    margin-bottom: 20px;
}
.con-req-header {
    width: 100%;
    background-color: dimgray;
    display: flex;
    justify-content: space-evenly;
    padding: 4px 0px 4px 0px;
}
.con-req-body, .your-con-body {
    padding: 5px;
}
.qty-2 {
    background-color: rgb(177, 177, 177);
    color: aliceblue;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100%;
    display: flex;
    align-items: center;
}
.con-list {
    list-style: none;
}
.requestor {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.others {
    border-radius: 100%;
    width: 64px;
    height: 64px;
}
.other-names {
    margin: 0px 10px 0px 10px;
}
.your-con-header {
    width: 100%;
    background-color: dimgray;
    display: flex;
    justify-content: space-evenly;
    padding: 4px 0px 4px 0px;
}
.qty-500 {
    background-color: rgb(177, 177, 177);
    color: aliceblue;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100%;
    display: flex;
    align-items: center;
}   
.your-con-footer {
    padding: 5px;
    border-top: 2px solid dimgray;
}