* {
    margin: 0px;
    padding: 0px;
}
.flex-header {
    height: 60px;
    background-color: rgb(68, 68, 68);
    width: 100%;
    margin-bottom: 20px;
}
.nav-bar {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}
.nav-left {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.nav-left h1 {
    margin-right: 20px;
    color: white;
}
.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-list a {
    color: white;
    text-decoration: none;
}
.tabs {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 20px;
}
.nav-right {
    display: flex;
    justify-content: right;
}
.sign {
    padding: 2px 10px 2px 10px;
    background-color:rgb(131, 181, 255);
    border: 2px solid black;
    box-shadow: 2px 2px black;
}
.flex-body {
    width: 1000px;
    margin: 0 auto;
    height: 1000px;
    /* background-color: rgb(231, 231, 255); */
    display: flex;
    justify-content: space-between;
}
.col-1 {
    flex: 1;
}
.col-2 {
    flex: 2;
    margin-right: 20px;
}
.profile {
    border: 2px solid rgb(194, 194, 194);
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.education {
    border: 2px solid rgb(194, 194, 194);
    height: auto;
    margin-bottom: 20px;
}
.con-req {
    border: 2px solid rgb(194, 194, 194);
    height: auto;
    margin-bottom: 20px;
}
.your-con {
    border: 2px solid rgb(194, 194, 194);
    height: auto;
    margin-bottom: 20px;
}
.con-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(68, 68, 68);
}
.con-body {
    padding: 10px;
}
.con-foot {
    align-items: center;
    padding: 10px;
    border-top: 2px solid rgb(194, 194, 194);
}
.con-head-title {
    color: white;
}
.connections {
    background-color: rgb(194, 194, 194);
    border-radius: 100%;
    padding: 5px;
}
.others {
    display: flex;
    justify-content: left;
    align-content: center;
}
.others h3 {
    align-content: center;
}
.others img {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    border: 2px solid rgb(194, 194, 194);
    margin-right: 20px;
    margin-bottom: 10px;
}
.left {
    display: flex;
    justify-content: left;
    align-items: center;
}
.left img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 2px solid rgb(194, 194, 194);
    margin-right: 20px;
    margin-bottom: 10px;
}
.right{
    display: flex;
    justify-content: right;
    align-items: center;
}
.right img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.others-req {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.edu-head {
    background-color: rgb(68, 68, 68);
    padding: 10px 10px 10px 30px;
    height: auto;
}
.edu-head h3 {
    color: white;
}
.edu-body {
    padding: 10px 10px 10px 30px;
    height: auto;
}
.edu-body * {
    margin-bottom: 10px;
}
.edu-body .grey-p {
    color: rgb(194, 194, 194);
}
.avatar {
    border-radius: 100%;
    border: 4px solid white;
    margin-top: 20px;
    margin-left: 20px;
}
.prof-header{
    background-color: rgb(131, 181, 255);
    height: 90px;
    margin-bottom: 75px;
}
.prof-body {
    height: auto;
    padding-left: 30px;
}
.prof-body img {
    height: 20px;
}
.prof-body h1, 
.prof-body h2, 
.prof-body p {
    margin-bottom: 10px;
}
.edit {
    display: inline;
    align-items: center;
}
.edit img {
    height: 16px;
    width: 16px;
}