.row {
    display: flex;
}
.col, .col-2, .col-3 {
    color: aliceblue;
    background-color: lightslategray;
    padding: 5px;
    margin: 5px;
}
.col {
    flex: 1;
}
.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}