* {
    margin: 0px;
    padding: 0px;
}
.page-container {
    width: 1000px;
    margin: 0 auto;
}
.header-container {
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}
#search {
    resize: none;
}
.btnlogin {
    padding: 0px 10px 0px 10px;
    background-color: cornflowerblue;
    color: aliceblue;
    box-shadow: 2px 2px black;
}
.body-container {
    width: 100%;
    height: 100%;
    display: flex;
}
.col-2 {
    flex: 2;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 100%;
}
.col-1 {
    flex: 1;
    height: 100%;
}
.definition-container {
    display: flex;
    width: 100%;
    height: 200px;
    border: 2px solid black;
    margin-bottom: 20px;
}
.definition-add {
    height: 150px;
    border: 2px solid black;
    margin-bottom: 20px;
    overflow: hidden;
}
.def-header {
    padding: 5px;
    text-align: center;
    margin: auto;
    list-style: none;
    flex: 1;
}
.def-body-text {
    flex: 3;
    text-align: center;
    margin: auto;
}
.def-header > * {
    margin-top: 5px;
    margin-bottom: 5px;
}
.btnlike {
    padding: 5px 10px 5px 10px;
    background-color: darksalmon;
    color: black;
    box-shadow: 2px 2px black;
}
.btnadddef {
    padding: 5px 10px 5px 10px;
    background-color: lightgreen;
    color: black;
    box-shadow: 2px 2px black;
    margin-top: 10px;
}