#search{
    border-color:deepskyblue;
    background: transparent;
    border-style: solid;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#plus{
    color: white;
    background-color: deepskyblue;
    border: 0px;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}
#acct{
    border-color: black;
    color: white;
    background-color: cornflowerblue;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 2px black;
    margin-top: 5px;
    margin-bottom: 5px;
}