* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: whitesmoke;
}
.flex-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card {
    width: 100%;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
}
.user-circle {
    border-radius: 50%;
    height: 190px;
    padding: 10px;
    margin: 20px 0px 0px 20px;
    background-color: aliceblue;
}
.info {
    padding: 20px;
}
.user {
    background-color: seagreen;
    height: 125px;
    margin-bottom: 150px;
}